<% provide(:title, "Halte #{@halte.nama}") %>
<div class="row">
	<div class="span12">
		<h1>Halte <%= @halte.nama %></h1>
	</div>
	<h3> Destinasi di sekitar </h3>
	<ol class="places">
		<% @places.each do |place| %>
			<li id="place<%= place.id %>">
				<%= link_to place.name, place %>
			</li>
		<% end %>
		
	</ol>
</div>